
main
article            
  section.section.upcoming#packages(aria-labelledby="upcoming-label")
    .container
    .from-register  
        h2 profile
        img(src="../images/download1.png", alt="notification", width="200", height="100")
        label.label() Full Name
        .box=user.userName
        label.label() email
        .box=user.email
